### Used Vehicle Information for Sale (US) ####

In [17]:
import pandas as pd
import plotly.express as plt
import streamlit as st

In [ ]:
###  USED Vehicle Data analysis and exploration


## Read Sample data for Used Vehicles information for sales
df = pd.read_csv("..//vehicles_us.csv",parse_dates=['date_posted'], date_format='%Y-%m-%d')
#df['model_year']=df['model_year'].astype('Int64')
#df['odometer']=df['odometer'].astype('Int64')
#df['odometer']=df['odometer'].fillna(0)


## Print the info and column information
#display(df.columns)
display(df.info())
#display(df.head())



## Check for duplicates 
display(df[df.duplicated()])  #  Results  in None (No duplicates foound)


## Handling Missing Data

# Fill NAN values for is_4wd with 0
df['is_4wd']=df['is_4wd'].fillna(0)

# Fill NAN values for paint_color with 0
df['paint_color']=df['paint_color'].fillna('Unknown')

# Fill NAN values for model_year with  median of model_year for that model
df['model_year'] = df['model_year'].fillna(df.groupby('model')['model_year'].transform('median'))

# Fill NAN values for odometer with  median of odometer when grouped by condition
df['odometer'] = df['odometer'].fillna(df.groupby(['condition'])['odometer'].transform('median'))


# Fill NAN values for cylinders with  median of cylinders when grouped  type
df['cylinders'] = df['cylinders'].fillna(df.groupby(['type'])['cylinders'].transform('median'))


## This display of datframe info shows that there are no NAN values in any column
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  datetime64[ns]
 12  days_listed   51525 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(2), object(6)
memory usage: 5.1+ MB

None

Empty DataFrame
Columns: [price, model_year, model, condition, cylinders, fuel, odometer, transmission, type, paint_color, is_4wd, date_posted, days_listed]
Index: []

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    51525 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     51525 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      51484 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   51525 non-null  object
 10  is_4wd        51525 non-null  float64
 11  date_posted   51525 non-null  datetime64[ns]
 12  days_listed   51525 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(2), object(6)
memory usage: 5.1+ MB

None

In [15]:

# Display the scatter plot using st.write with a matplotlib figure

st.write("Scatter plot of Price vs Odometer:")

fig = plt.scatter(df, x='price', y='odometer',
                 title='Vehicle Price vs Odometer Scatter Plot')
# Display the plot in Streamlit
    
st.plotly_chart(fig)

2025-02-28 02:06:20.409 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-28 02:06:20.409 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-28 02:06:20.409 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-28 02:06:20.409 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-28 02:06:20.488 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-28 02:06:20.491 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-28 02:06:20.496 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-28 02:06:20.498 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()