In [ ]:
import pandas as pd
import plotly plt
import streamlit as st

df = pd.read_csv(r"C:\Users\stanf\Documents\GitHub\PythonProject\vehicles_us.csv",parse_dates=['date_posted'], date_format='%Y-%m-%d')

df['model_year']=df['model_year'].astype('Int64')
df['odometer']=df['odometer'].astype('Int64')
df['odometer']=df['odometer'].fillna(0)
display(df.head())
#display(df.columns)
#display(df.info())
#display(df.describe())

st.header(" Car Advertisement Data")

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011,bmw x5,good,6.0,gas,145000,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,<NA>,ford f-150,good,6.0,gas,88705,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013,hyundai sonata,like new,4.0,gas,110000,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003,ford f-150,fair,8.0,gas,0,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017,chrysler 200,excellent,4.0,gas,80903,automatic,sedan,black,NaN,2019-04-02,28

Index(['price', 'model_year', 'model', 'condition', 'cylinders', 'fuel',
       'odometer', 'transmission', 'type', 'paint_color', 'is_4wd',
       'date_posted', 'days_listed'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  Int64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      51525 non-null  Int64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  datetime64[ns]
 12  days_listed   51525 non-null  int64
dtypes: Int64(2), datetime64[ns](1), float64(2), int64(2), object(6)
memory usage: 5.2+ MB

None

,price,model_year,cylinders,odometer,is_4wd,date_posted,days_listed
count,51525.000000,47906.0,46265.000000,51525.0,25572.0,51525,51525.00000
mean,12132.464920,2009.75047,6.125235,97854.326948,1.0,2018-10-25 01:57:46.270742528,39.55476
min,1.000000,1908.0,3.000000,0.0,1.0,2018-05-01 00:00:00,0.00000
25%,5000.000000,2006.0,4.000000,35896.0,1.0,2018-07-29 00:00:00,19.00000
50%,9000.000000,2011.0,6.000000,99114.0,1.0,2018-10-25 00:00:00,33.00000
75%,16839.000000,2014.0,8.000000,146541.0,1.0,2019-01-21 00:00:00,53.00000
max,375000.000000,2019.0,12.000000,990000.0,1.0,2019-04-19 00:00:00,271.00000
std,10040.803015,6.282065,1.660360,72940.00797,0.0,NaN,28.20427

2025-02-18 00:20:40.003 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-18 00:20:40.892
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\stanf\AppData\Roaming\Python\Python39\site-packages\ipykernel_launcher.py [ARGUMENTS]
2025-02-18 00:20:40.895 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()

In [1]:
import pandas as pd

import numpy as np

import streamlit as st


# Sample data

data = {'Study Hours': [2, 5, 3, 1, 4, 6, 2, 7, 8, 3],

        'Exam Score': [60, 80, 70, 50, 75, 90, 65, 95, 85, 70]}

df = pd.DataFrame(data)



# Display the scatter plot using st.write with a matplotlib figure

st.write("Scatter plot of Study Hours vs Exam Score:")

fig, ax = plt.subplots()

ax.scatter(df['Study Hours'], df['Exam Score'])

ax.set_xlabel('Study Hours')

ax.set_ylabel('Exam Score')

st.pyplot(fig)

2025-02-20 23:44:08.724 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-20 23:44:10.612
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\stanf\AppData\Roaming\Python\Python39\site-packages\ipykernel_launcher.py [ARGUMENTS]
2025-02-20 23:44:10.618 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-20 23:44:10.620 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-20 23:44:10.623 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

NameError: name 'plt' is not defined

In [ ]:

# Sample data (replace with your data source)
data = {'x': [1, 2, 3, 4, 5],
        'y': [2, 4, 1, 3, 5],
        'category': ['A', 'B', 'A', 'B', 'A']}
df = pd.DataFrame(data)

# Create the scatter plot using Plotly Express
fig = px.scatter(df, x='x', y='y', color='category',
                 title='Sample Scatter Plot')

# Display the plot in Streamlit
st.plotly_chart(fig)

2025-02-21 21:29:48.912 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-21 21:29:48.929 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-21 21:29:48.945 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-21 21:29:48.954 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()